.table-responsive-md {
    overflow-y: auto;
    margin-top: -15px;
}

.table-responsive-md,
.table {
    transform: rotateX(180deg);
    -moz-transform: rotateX(180deg);
    /* Mozilla */
    -webkit-transform: rotateX(180deg);
    /* Safari and Chrome */
    -ms-transform: rotateX(180deg);
    /* IE 9+ */
    -o-transform: rotateX(180deg);
    /* Opera */
}


.img-fluid {
    height: 145px;
}
